fastapi
uvicorn
python-dotenv
pinecone-client==2.2.4
sentence-transformers
transformers
torch
huggingface-hub
requests
beautifulsoup4
trafilatura

# Required for FastAPI to serve properly
aiohttp
jinja2
scikit-learn
